#input-email, #input-age-verification, #input-submit {
 text-align: center;
}

p, h1 {
 text-align: center;
}

p {
 margin-bottom: 1.5%;
}

label {
 text-align: center;
 display: block;
 width: 97%;
 margin: 0 1.5%;
}

input {
 text-align: center;
 box-sizing: border-box;
 width: 40%;
 padding: 12px 20px;
 margin: 8px 1.5%;
 border: 5px dotted #ccc;
 border-radius: 6px;
}

.fontsize {
 font-size: .45em;
}

.fontfamily {
 font-family: 'Courgette', cursive;
}

#submit {
 width: 20%;
 display: block;
 margin: 0 auto;
 font-size: .4em;
}

@media screen and (min-width: 510px) {
 #container {
  text-align: center;
  margin: 3% auto 0 auto;
  width: 65%;
 }

 .fontsize {
  font-size: .133 em;
 }

 input {
  width: 60%;
 }

 #submit {
  width: 35%;
  font-size: 0.8em;
 }
}

@media screen and (min-width: 768px){
 #container {
  float: left;
  clear: right;
  margin: 3% auto 0 auto;
  width: 50%;
 }

 .fontsize {
  font-size: 1em;
 }

 input {
  width: 60%;
 }

 #submit {
  width: 55%;
  font-size: 0.9em;
 }
}

@media screen and (min-width: 940) {
 #container {
  float: left;
  margin: 3%;
  width: 40%;
 }

 .fontsize {
  font-size: 1.33em;
 }

 input {
  width: 50%;
 }

 #submit {
  width: 60%;
  font-size: 0.95em;
 }
}