p, h1 {
 text-align: c;
}

label {
 text-align: center;
 display: block;
 width: 40%;
 margin: 0 1.5% 1.5% 1.5%;
}

input {
 text-align: center;
 box-sizing: border-box;
 width: 40%;
 padding: 12px 20px;
 margin: 8px 1.5%;
 border: 1px solid #ccc;
 border-radius: 6px;
}

.fontsize {
 font-size: 20px;
}

@media screen and (min-width: 510px) {
 #container {
  text-align: center;
  margin: 3% auto 0 auto;
  width: 65%;
 }
}

@media screen and (min-width: 768px){
 #container {

 }
 
}

@media screen and (min-width: 940) {
 #container {

 }
}